@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MvcBootstrap</h1>
	<p class="lead">MvcBootstrap is an HTML Helper for basic Bootstrap 4 components.</p>
    <p><a href="https://github.com/myahl/MvcBootstrap" class="btn btn-primary btn-lg">Check out the code! &raquo;</a></p>
</div>

<div class="row">
    <div class="justify-content-center">
        <h2>Alerts</h2>
        <p>
            Examples of Alerts go here
        </p>
        <p><a class="btn btn-default" href="https://getbootstrap.com/docs/4.0/components/alerts/">Learn more &raquo;</a></p>
    </div>
</div>